/* RESET  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* COMMON */

.btn {
    background-color: white;
    padding: 10px 20px;
    border-style: hidden;
    border-radius: 20px;
}

.black-btn {
    background-color: #23272a;
    color: white;
}

.content {
    width: 80%;
    margin: auto;
}

/* HEADER */

header {
    position: relative;
    background-color: #255EE9;
    width: 100%;
}

.nav-logo, .nav-button {
    width: 25%;
    text-align: center;
}

ul {
    width: 50%;
    text-align: center;
}

li {
    padding: 10px 20px ;
    color: white;
}

.nav-logo, ul, header .nav-button {
    float: left;
    padding: 20px;
}

header li {
    display: inline-block;
}

/* HERO */

.hero {
    position: relative;
    width: 100%;
    height: 450px;   
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
}

div.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    color: white;
    font-size: 40px;
    padding-bottom: 50px;
}

.hero-text p {
    margin: auto;
    color: white;
    max-width: 45%;
    font-size: 17px;
    line-height: 25px;
    padding-bottom: 25px;
}

.hero-text button {
    margin-right: 20px;
}



